body{
    background: linear-gradient(to right, #2c3e50, #3498db);
    font-family: 'Poppins', sans-serif;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu a{
    background-color: white;
}

.menu a:hover{
    text-decoration: underline;
}

.menu li{
    list-style-type: none;
}

.site-title, .site-subtitle{
    text-align: center;
    color: whitesmoke;
}

.site-subtitle{
    font-style: italic;
}